@use '../../../../public/styles/index' as *;

.contact {
  width: 100%;
  padding-top: 120px;
  background-image: url('/assets/img/rectangle_bg.svg');
  background-position: center-bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-wrapper {
  width: 100%;
  @include d-flex(column, center, center, 60px);

  @include respond-max(sm) {
    @include d-flex(column, center, center, 30px);
    padding-bottom: 40px;
  }

  h2 {
    width: 100%;
    font-family: $font-headline;
    color: $beige;
    font-weight: 800;
    font-size: 78px;
    line-height: 100%;

    @include respond(zero, sm) {
      font-size: 32px;
    }

    @include respond(sm, m) {
      font-size: clamp(48px, 8vw, 56px);
    }

    @include respond(m, l) {
      font-size: 72px;
    }
  }

  .contact-form {
    width: 50%;
    @include d-flex(column, flex-start, center, 20px);
    color: $beige;

    @include respond-max(l) {
      width: 90%;
    }

    .contact-form-headline {
      width: 100%;
      @include d-flex(column, center, center, 10px);
      h3 {
        font-weight: 700;
        color: $blue;
        font-size: 32px;

        @include respond(zero, sm) {
          font-size: 24px;
        }
      }
      p {
        font-size: 22px;
        color: $beige;

        @include respond(zero, sm) {
          font-size: 18px;
        }
      }
    }

    .contact-field {
      width: 100%;
      @include d-flex(column, flex-start, flex-start);

      input {
        width: 100%;
        border-bottom: 2px solid $beige;
        background: transparent;
        color: $beige;
        font-size: 20px;
        padding: 8px 0;
      }

      .form-error-wrapper {
        height: 30px;

        .form-error {
          font-size: 16px;
          color: $blue;
          margin: 6px 0 0 0;
        }
      }
    }

    .contact-field-message {
      textarea {
        width: 100%;
        height: 200px;
        resize: vertical;
        min-height: 200px;
        max-height: 400px;
        font-size: 20px;
        border-bottom: 2px solid $beige;
        color: $beige;
      }
    }

    .contact-consent {
      width: 100%;
      @include d-flex(column, flex-start, flex-start, 10px);
      color: $beige;
      font-size: 16px;

      .privacy-wrapper {
        @include d-flex(row, center, center, 20px);
        input[type='checkbox'] {
          width: 20px;
          height: 20px;
        }

        label {
          span {
            color: $blue;
          }
        }
      }

      .form-error-wrapper {
        height: 30px;

        .form-error {
          font-size: 16px;
          color: $blue;
        }
      }
    }

    .contact-btn {
      font-size: 24px;
      color: $beige;
      align-self: center;
      border: solid 3px $beige;
      padding: 8px 20px;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
