<section class="contact">
  <div class="content">
    <div class="contact-wrapper">
      <h2>Say Hi!</h2>

      <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="formSubmit()">
        <div class="contact-form-headline">
          <h3>Want to discuss a new project?</h3>
          <p>Say hello! let's discuss your ideas and make it happen</p>
        </div>

        <div class="contact-field">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name" placeholder="Your name" />
          <div class="form-error-wrapper">
            @if (name?.touched && name?.invalid) {
              <p class="form-error">Please enter your name!</p>
            }
          </div>
        </div>

        <div class="contact-field">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" placeholder="Your email" />
          <div class="form-error-wrapper">
            @if (email?.touched && email?.invalid) {
              <p class="form-error">Please enter a valid email!</p>
            }
          </div>
        </div>

        <div class="contact-field contact-field-message">
          <label for="message">Message</label>
          <textarea id="message" formControlName="message" placeholder="Your message"></textarea>
          <div class="form-error-wrapper">
            @if (message?.touched && message?.invalid) {
              <p class="form-error">Please enter a message!</p>
            }
          </div>
        </div>

        <div class="contact-consent">
          <div class="privacy-wrapper">
            <input id="privacy" type="checkbox" formControlName="privacy" />
            <label for="privacy">
              I've read the <span [routerLink]="['/privacy-policy']">privacy policy</span> and agree to the processing of my data as
              outlined.
            </label>
          </div>
          <div>
            <div class="form-error-wrapper">
              @if (privacy?.touched && privacy?.invalid) {
                <p class="form-error">Please agree to the privacy policy!</p>
              }
            </div>
          </div>
        </div>

        <button class="contact-btn" type="submit" [disabled]="contactForm.invalid">
          Send message
        </button>
      </form>
    </div>
  </div>
</section>
