<header class="header">
  <div class="content">
    <div class="header-wrapper">
      <a class="header-logo" href="/"> [LW] </a>

      <div class="navigation">
        <div class="lang" [class.lang-mobile]="menuOpen">
          <button
            class="lang-btn"
            [class.lang-btn--active]="currentLanguage === 'en'"
            type="button"
            (click)="changeLanguage('en')"
          >
            EN
          </button>
          <button
            class="lang-btn"
            [class.lang-btn--active]="currentLanguage === 'de'"
            type="button"
            (click)="changeLanguage('de')"
          >
            DE
          </button>
        </div>

        @if (menuOpen) {
          <button class="nav-menu" type="button" (click)="closeMenu()">
            <img src="assets/icons/close.svg" alt="Close menu" />
          </button>
        } @else {
          <button class="nav-menu" type="button" (click)="openMenu()">
            <img src="assets/icons/burger_menu.svg" alt="Open menu" />
          </button>
        }
      </div>
    </div>

    @if (menuOpen) {
      <div class="menu-overlay">
        <nav class="overlay-navigation">
          <ul>
            <li>
              <a href="#about" class="nav-link" (click)="closeMenu()">
                {{ 'header.nav.about' | translate }}</a
              >
              <div class="menu-corner"></div>
            </li>
            <li>
              <a href="#skills" class="nav-link" (click)="closeMenu()">{{
                'header.nav.skills' | translate
              }}</a>
              <div class="menu-corner"></div>
            </li>
            <li>
              <a href="#portfolio" class="nav-link" (click)="closeMenu()">{{
                'header.nav.portfolio' | translate
              }}</a>
              <div class="menu-corner"></div>
            </li>
          </ul>
        </nav>

        <div class="overlay-footer">
          <div class="overlay-left">
            <h2>Say Hi</h2>
            <p>test@email.com</p>
          </div>

          <div class="overlay-right">
            <ul class="overlay-socials">
              <li>
                <a href="/"><img src="assets/icons/github_btn.svg" alt="" /></a>
              </li>
              <li>
                <a href="/"><img src="assets/icons/mail_btn.svg" alt="" /></a>
              </li>
              <li>
                <a href="/"><img src="assets/icons/linkedin_btn.svg" alt="" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    }
  </div>
</header>
