@use '../../../../public/styles/index' as *;
// @use "../public/styles/mixins" as mixin;

.header {
  width: 100%;
  height: 90px;
  background-color: $beige;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header-wrapper {
  width: 100%;
  height: 90px;
  @include d-flex(row, center, space-between);

  .header-logo {
    font-family: $font-headline;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: -4px;
  }

  .navigation {
    @include d-flex(row, center, center, 60px);

    .lang {
      @include d-flex(row, center, center, 16px);

      .lang-btn {
        font-family: $font-headline;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;

        &.lang-btn--active {
          border: 3px solid $blue;
          padding: 4px 6px;
        }
      }
    }
    .nav-menu {
      width: 40px;
      height: 40px;
      cursor: pointer;
      img {
        height: 32px;
        width: auto;
      }
    }
  }
}

.menu-overlay {
  width: 100%;
  height: calc(100dvh - 90px);
  background-color: $beige;
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 20;

  @include d-flex(column, center, center);

  .overlay-navigation {
    flex: 1;
    @include d-flex(column, center, center);

    height: fit-content;
    width: 100%;

    ul {
      @include d-flex(column, center, center, 50px);

      li {
        width: 580px;
        padding: 10px 20px;
        text-align: center;

        .nav-link {
          font-family: $font-headline;
          font-weight: 700;
          font-size: 96px;
        }

        .menu-corner {
          position: absolute;
          left: 0;
          bottom: 0;

          width: 20px;
          height: 30px;

          border-left: 3px solid $black;
          border-bottom: 3px solid $black;
        }
      }
    }
  }

  .overlay-footer {
    width: 100%;
    height: 300px;
    background-image: url('/assets/img/rectangle_menu.svg');
    background-repeat: no-repeat;
    background-position: center-bottom;
    background-size: cover;
    padding: 0 50px 50px 50px;

    @include d-flex(row, flex-end, space-between);

    .overlay-left {
      color: white;
      h2 {
        font-family: $font-headline;
        font-size: 78px;
        font-weight: 800;
      }

      p {
        font-size: 22px;
      }
    }

    .overlay-right {
      ul {
        @include d-flex(row, center, center, 20px);
        li {
          a img {
            width: 40px;
            height: auto;
          }
        }
      }
    }
  }
}
