<header class="header">
  <div class="content">
    <div class="header__wrapper">
      <a class="header__logo" href="/"> [LW] </a>

      <div class="header__navigation">
        <div class="header__lang">
          <button class="header__lang-btn header__lang-btn--active" type="button">EN</button>
          <button class="header__lang-btn" type="button">DE</button>
        </div>
        <button class="header__menu" type="button" aria-label="Open menu">
          <img src="assets/icons/burger_menu.svg" alt="burger menu" />
        </button>
      </div>
    </div>
  </div>
</header>
