@use '../../../../public/styles/index' as *;

.portfolio {
  padding: 160px 0;
}

.portfolio-wrapper {
  @include d-flex(column, center, center, 100px);

  .portfolio-headline {
    @include d-flex(column, center, center, 20px);
    h2 {
      font-family: $font-headline;
      font-weight: 800;
      font-size: 78px;
      line-height: 100%;
    }

    .portfolio-intro {
      width: 500px;
      font-size: 22px;
      text-align: center;
    }
  }

  .project {
    width: 100%;
    @include d-flex(row, flex-start, space-between);

    &.project-reversed {
      @include project-reversed;
    }

    .project-img {
      width: 50%;

      .img-wrapper {
        width: 620px;

        img {
          width: 100%;
          height: auto;
          filter: grayscale(100%);
        }

        .arrow-animation {
          display: none;

          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(50%, -50%);

          width: 60px;
          height: 60px;
          background-color: $black-bg;
          border-radius: 50%;

          z-index: 2;

          img {
            height: 40px;
            width: auto;
            transform: rotate(45deg);
          }
        }
      }
    }

    .project-content {
      width: 50%;
      @include d-flex(column, flex-end, flex-start, 26px);

      .project-count {
        font-family: $font-headline;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: right;
      }

      .project-details {
        @include d-flex(column, flex-start, center, 16px);
        display: none;

        h3 {
          font-family: $font-headline;
          font-weight: 800;
          font-size: 48px;
          line-height: 120%;
          text-align: left;
        }

        .project-skills {
          font-size: 28px;
          font-weight: 500;
          color: $highlight;
        }

        .project-description {
          font-size: 22px;
          width: 85%;
        }

        .project-btn {
          font-size: 28px;
          border: solid black 2px;
          padding: 4px 8px;
        }
      }
    }
  }

  .project:hover {
    .project-img {
      .img-wrapper {
        a img {
          filter: grayscale(0%);
        }

        .arrow-animation {
          @include d-flex(row, center, center);
        }
      }
    }

    .project-content .project-details {
      display: flex;
    }
  }
}
