main{
    width: 100%;
    min-height: 100dvh;
    height: fit-content;
    flex: 1;
    padding: 120px 0;
    _display:flex;
    _flex-direction: column;
    _align-items: center;
    _justify-content: flex-start;
    _gap: 80px;
}