@mixin d-flex($direction: row, $align: center, $justify: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin project-reversed {
  width: 100%;
  flex-direction: row-reverse;

  @include respond-max(l) {
    @include d-flex(column-reverse, center, center);
  }

  .project-count {
    width: 15%;
    text-align: left;
    top: 0px;
    left: 0px;
  }

  .project-img {
    width: 50%;
    @include d-flex(row, flex-start, flex-end);

    @include respond(l, desktop) {
      width: clamp(300px, 55dvh, 620px);
    }

    @include respond-max(l) {
      width: 100%;
    }

    .img-wrapper {
      width: 100%;

      @include respond-min(desktop) {
        width: 620px;
      }

      .arrow-animation {
        left: 0;
        transform: translate(-50%, -50%);

        img {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .project-content {
    width: 50%;
    align-items: flex-start;
  }

  @include respond-max(l) {
    flex-direction: column-reverse;

    .project-img,
    .project-content {
      width: 100%;
    }
  }
}

$breakpoints: (
  zero: 0px,
  sm: 480px,
  m: 768px,
  l: 1024px,
  desktop: 1439px,
);

@mixin respond($minsize: zero, $maxsize: desktop) {
  @media screen and (min-width: map-get($breakpoints, $minsize)) and (max-width: map-get($breakpoints, $maxsize)) {
    @content;
  }
}

@mixin respond-min($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin respond-max($size) {
  @media screen and (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
