$beige-bg: rgba(255, 252, 243, 1);
$black-bg: rgba(0, 0, 0, 1);
$highlight: rgba(75, 71, 255, 1);


$font-color: rgba(0, 0, 0, 1);
$font-color-light: rgba(255, 252, 243, 1);
$font-color-highlight: rgba(75, 71, 255, 1);
$font-headline: 'Syne', Arial, Helvetica, sans-serif;

$text-tighter: -2px;



