$beige: rgba(255, 252, 243, 1);
$black: rgba(0, 0, 0, 1);
$blue: rgba(75, 71, 255, 1);

$font-headline: 'Syne', Arial, Helvetica, sans-serif;

$text-tighter: -2px;

$project-column-width: 50%;
$project-image-width: 620px;





