@use '../../../../public/styles/index' as *;

.legal-notice {
  padding: 0 140px 80px 140px;

  @include respond-max(m) {
    padding: 0px;
  }
}

.legal-notice-wrapper {
  @include d-flex(column, flex-start, center, 40px);
  h1 {
    font-family: $font-headline;
    font-weight: 800;
    font-size: 78px;

    @include respond(zero, sm) {
      font-size: 32px;
    }

    @include respond(sm, m) {
      font-size: 56px;
    }

    @include respond(m, l) {
      font-size: 72px;
    }
  }

  .legal-content {
    @include d-flex(column, flex-start, center, 20px);
    .legal-details {
      @include d-flex(column, flex-start, center, 10px);
      h2 {
        color: $blue;
        font-weight: 800;
        font-size: 24px;

        @include respond(zero, sm) {
          font-size: 20px;
        }

        @include respond(sm, l) {
          font-size: 22px;
        }
      }

      ul {
        padding-left: 30px;
        li {
          list-style: disc;
        }
      }
    }

    .legal-paragraph {
      h3 {
        color: $blue;
        font-weight: 700;
        font-size: 20px;

        @include respond(zero, m) {
          font-size: 18px;
        }
      }
    }
  }
}

.highlight {
  color: $blue;
}
