@use '../public/styles/index'as * ;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  list-style: none;
  font-size: inherit;
  color: inherit;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  background: initial;
  border: initial;
}

.content {
  width: 100%;
  padding: 0 max(calc(50% - 720px), 3rem);
}

body {
  background-color: $beige;
  color: $black;
  width: 100%;
  min-height: 100dvh;
}

body.menu-open {
  overflow: hidden;
}