@use "../public/styles/index";


p{
    font-family: 'Syne';
    font-weight: 800;
    font-size: 36px;
}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    background: initial;
    border: initial;
}

.content{
    width: 100%;
    padding: 0 max(calc(50% - 720px), 1rem);
}

