@use '../../../../public/styles/index' as *;

.skills-wrapper {
  width: 100%;
  padding-bottom: 100px;
  @include d-flex(column, center, center, 60px);

  .skills-frame {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;

    border: 4px solid $black;
    z-index: -1;
  }

  h2 {
    font-family: $font-headline;
    font-weight: 800;
    font-size: 78px;
    line-height: 100%;
    background-color: $beige;

    @include respond(zero, sm) {
      font-size: 32px;
    }

    @include respond(sm, m) {
      font-size: 56px;
    }

    @include respond(m, l) {
      font-size: 72px;
    }
  }

  .skills-content {
    @include d-flex(column, center, center, 36px);

    .skills-icons {
      width: min(100%, 1000px);
      @include d-flex(row, center, center, 80px);
      flex-wrap: wrap;

      @include respond(zero, sm) {
        @include d-flex(row, center, center, clamp(30px, 5.25dvh, 50px));
      }

      .skills-icon {
        width: clamp(70px, 9vw, 120px);
        @include d-flex(column, center, center, 14px);

        img {
          width: 75px;
          height: auto;

          @include respond(zero, sm) {
            width: 55px;
          }
        }

        p {
          font-weight: 700;
          font-size: 16px;
          line-height: 120%;
          text-align: center;
        }
      }
    }
  }

  .skills-contact {
     width: min(90%, 780px);
    @include d-flex(row, center, center, 24px);

    img {
      width: 75px;
      height: auto;
      @include respond(zero, sm) {
        width: 57px;
      }
    }

    p {
      font-size: 22px;
      line-height: 120%;

      @include respond(zero, sm) {
        font-size: 20px;
      }

      span {
        color: $blue;
      }
    }
  }
}

.arrow-right {
  width: 100%;
  height: 300px;

  @include d-flex(row, flex-start, flex-start);

  .arrow-img {
    width: 200px;
    overflow: hidden;

    img {
      height: 100%;
      width: fit-content;
    }
  }

  @include respond-max(sm) {
    height: 200px;

    .arrow-img {
      height: 100%;
    }
  }
}
